@font-face {
    font-family: Geist;
    src: url(assets/GeistVariableVF.woff2);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Geist, sans-serif;
    font-weight: 400;
}

/* We reset button styling */
button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

:root {
    --border-color-dark: hsla(0, 0%, 0%, 16%);
    --border-color-light: hsla(0, 0%, 100%, 0.16);
    --border: 2px solid var(--border-color-dark);
    --border-light: 2px solid var(--border-color-light);
    --bg: hsl(308, 100%, 19%);
    --primary: hsl(310, 61%, 32%);
    --secondary: hsl(308, 16%, 18%);
    --secondary-transparent: hsla(308, 16%, 18%, 67%);
    --fg: white;
    --fg-inverse: rgb(0, 0, 0);
}

.button {
    margin: 10px;
    padding: 5px;
    background-color: var(--bg);
    color: var(--fg);
    cursor: pointer;
}

#calendar {
    --primary: hsl(30, 81%, 47%);
    --secondary: hsl(310, 38%, 38%);
}

body {
    background-image: url(assets/tile.webp);
    background-repeat: repeat;
    min-height: 100vh;
    color: var(--fg);
}

.inverse {
    color: var(--fg-inverse);
}

.framed {
    border-top: var(--border-light);
    border-left: var(--border-light);
    border-bottom: var(--border);
    border-right: var(--border);
}

.background-tint {
    background-color: var(--bg);
    background-blend-mode: overlay;
}

li::marker {
    content: '';
}

nav {
    margin-top: 0;
    background-color: var(--bg);
    border-bottom: var(--border-light);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--fg);
}

strong {
    font-weight: 700;
}

nav h1 {
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-transparent);
}

#calendar {
    overflow: hidden;
}

.weekdays {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

.weekdays abbr {
    display: flex;
    width: 100px;
    height: 50px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.days {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 100px);
}

#calendar time {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
    cursor: pointer;
}

#calendar time.actual {
    background-color: var(--primary);
    font-weight: bold;
}

#calendar time:empty {
    filter: grayscale(0.4);
}